html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

body {
  background-color: #ffffff;
  height: 100%;
  margin: 0px;
}

#firebaseui-auth-container {
  position: fixed;
  /* or absolute */
  top: 10%;
  left: 80%;
  z-index: 9;

  align-items: center;
  justify-content: center;
}

#profile {
  align-items: right;
  justify-content: right;
}


#signOut {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;

  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;

}

.button-1:hover,
.button-1:focus {
  background-color: #F082AC;
}

.nameDiv {
  font-size: 32px;
  color: #01112a;
  background-color: #FFF;

  /* or */
  line-height: 1.2em;
  opacity: .7;
}