html,
body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}


.prompts {
  position: absolute;
  top: 550px;
  left: 50px;
  width: 300px;
  font-size: 20px;
  font-family: sans-serif;
}

#prompt1 {
  position: absolute;
  left: 0%;
}

#prompt2 {
  position: absolute;
  left: 714px;
}

#leftWord {
  position: absolute;
  left: 0px;
  width: 150px;
  top: 600px;
}

#rightWord {
  position: absolute;
  left: 914px;
  width: 150px;
  top: 600px;
}

#betweenPromptsSlider {
  position: absolute;
  top: 550px;
  left: 412px;
  width: 200px;
}

#betweenWordsSlider {
  position: absolute;
  top: 600px;
  left: 412px;
  width: 200px;
}